User#show Page

Currently showing <%= @user.first_name + " " + @user.last_name %>

<h3>Pantry</h3>
<% if @pantry == nil %>
  <h4>You don't seem to have a Pantry.</h4>
  <a href='/pantry/new'><p>Click to create one</p></a>
<% else %>
  <h5>Pantry Name: <%= @pantry.name %></h5>
  <a href='/ingredient/new'><button type='button' class='btn btn-primary'>Add Ingredient</button></a>
<% end %>

<div id="pantryContent">
  <table class='table'>
    <% if @ingredients == nil %>
      <h4>Your pantry seems to be empty!</h4>
    <% else %>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Amount</th>
      </tr>

      <% @ingredients.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.category_name %></td>
          <td><%= item.amount %></td>
          <td><a href='#'>Edit</a></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>



