edit_amount.html.erb

<%= bootstrap_form_for :ingredient, url: {action: 'update_amount'}, method: 'PUT' do |f| %>
  <% if @ingredient[:storage_type] == 'bsc' %>
    <%= f.select :amount, @bsc_storage %>
  <% else %>
    <%= f.text_field :amount %>
  <% end %>
  <%= f.hidden_field :id, value: @ingredient.id %>
  <%= f.submit "Update" %>
<% end %>

<a href=<%= "/ingredient/#{@ingredient.id}/edit" %>><button type='button' class="btn btn-info">Edit More</button></a>

<a href=<%= "/user/#{current_user.id}" %>><button type='button' class="btn btn-warning">Cancel</button></a>
