Ingredient
edit.html.erb

<%= bootstrap_form_for :ingredient, url: {action: 'update'}, method: 'PUT' do |f| %>
  <%= f.text_field :name %>
  <br>
  <%= f.select :category, @categories %>
  <br>
  <%= f.select :storage_type, @storage_types %>
  <br>
  <%= f.submit "Update", class: "btn btn-info" %>
<% end %>

<a href=<%= "/user/#{current_user.id}" %>><button type='button' class="btn btn-warning">Cancel</button></a>
<br>
<a href=<%= "/ingredient/#{@ingredient.id}" %>, data-method='delete', data-confirm="Are you sure?"><button type='button' class="btn btn-danger">Remove Ingredient</button></a>